{% extends 'base/base.html' %}


{% block content %}

{% if students %}
    {% for message in messages %}
    <div{% if message.tags %} class=" alert {{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="col-md-6 m-auto">
    <div class="card">
        <div class="card-header">Student Search</div>
        <div class="card-body">
            <form action="" method="GET">
                {{ forms.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

    {% if students %}
        <div class="card">
          <div class="card-header"><i class="fa fa-align-justify"></i>Student List:</div>
          <div class="card-body">
             <table class="table table-responsive-sm table-bordered table-striped table-sm">
                <thead>
                   <tr>
                      <th>Sl No.</th>
                      <th>Student Name</th>
                      <th>Father Name</th>
                      <th>Roll</th>
                      <th>Gender</th>
                      <th>Class</th>
                      <th>Image</th>
                      <th>Execution</th>
                   </tr>
                </thead>
                <tbody>
                {% for student in students %}
                   <tr>
<!--                      <td>{{ forloop.counter }}</td>-->
<!--                      <td>{{ student.student.name}}</td>-->
<!--                      <td>{{ student.student.father_name}}</td>-->
<!--                      <td>{{ student.student.roll}}</td>-->
<!--                      <td>{{ student.student.gender}}</td>-->
<!--                      <td>{{ student.stu_class}}</td>-->
                      <td>{{ forloop.counter }}</td>
                      <td>{{ student.student.name }}</td>
                      <td>{{ student.student.father_name}}</td>
                      <td>{{ student.roll}}</td>
                      <td>{{ student.student.gender}}</td>
                      <td>{{ student.stu_class}}</td>
                      <td><img width="60px" height="70" src="{{ student.student.image.url }}" alt=""></td>
                       <td><a href="{% url 'edit-student' student.id %}" class="btn btn-primary"><i class="fa fa-edit"> Edit </i></a> <a href="{% url 'del-student' student.id %}" class="btn btn-danger"><i class="fa fa-trash"> Delete </i></a> </td>
                   </tr>
                {% endfor %}
                </tbody>
             </table>
          </div>
       </div>
    {% endif %}
{% endblock %}