{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i>Dashboard</a>
            </li>
			<li class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle" href="#">
				<i class="icon-puzzle"></i>Administration</a>
				<ul class="nav-dropdown-items">
					<li class="nav-item"><a class="nav-link" href="base/breadcrumb.html"><span class="nav-icon"></span> Breadcrumb</a></li>
				</ul>
			</li>
			<li class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle" href="#">
				<i class="icon-puzzle"></i>Teacher</a>
				<ul class="nav-dropdown-items">
					<li class="nav-item"><a class="nav-link" href="{% url 'teacher' %}"><span class="fa fa-forms"></span> Create Teacher</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'teacher-list' %}"><span class="fa fa-list"></span> Teacher List</a></li>
					<li class="nav-item"><a class="nav-link" href="base/carousel.html"><span class="nav-icon"></span> Carousel</a></li>
				</ul>
			</li>
			<li class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle" href="#">
				<i class="icon-puzzle"></i>Student</a>
				<ul class="nav-dropdown-items">
					<li class="nav-item"><a class="nav-link" href="{% url 'student' %}"><span class="nav-icon"></span> Student Form</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'student-list' %}"><span class="nav-icon"></span> Student List</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'student-search' %}"><span class="nav-icon"></span> Student Search</a></li>
				</ul>
			</li>
        </ul>
		
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>